
process {
  withName: "PYPGX_CREATEREGIONS" {
    ext.assembly_version = {"GRCh37"}
    ext.pgx_genes = { ["CYP2B6", "CYP2C19", "CYP2D6", "UGT1A1"]}	
}
}


docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
