## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# Visual Studio cache/options directory
.vs/
.vscode/

# test output
*.pdf

# Apple Macbook related
.DS_Store

# R output
## History files
.Rhistory
.Rapp.history

## Session Data files
.RData

## User-specific files
.Ruserdata

## RStudio files
.Rproj.user/

## produced vignettes
vignettes/*.html
vignettes/*.pdf

## R Environment Variables
.Renviron

