## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# Visual Studio cache/options directory
.vs/
.vscode/

# test output
*.pdf
*.RData

# Apple Macbook related
.DS_Store
