[submodule "tests/DxNextflowTestData"]
	path = tests/DxNextflowTestData
	url = git@github.com:UMCUGenetics/DxNextflowTestData.git
[submodule "assets/pypgx-bundle"]
	path = assets/pypgx-bundle
	url = git@github.com:sbslee/pypgx-bundle.git
[submodule "assets/Dx_tracks"]
	path = assets/Dx_tracks
	url = git@github.com:UMCUGenetics/Dx_tracks.git
	branch = develop
