params {
    genome = '/hpc/diaggen/users/ellen/references/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'

    iaap_path = '/hpc/diaggen/users/ellen/iaap-cli-linux-x64-1.1.0-sha.80d7e5b3d9c1fdfc2e99b472a90652fd3848bbc7/iaap-cli/iaap-cli'

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"

    // array product files
    bead_pool_manifest_file = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/GSA-24v3-0_A1-product_files/GSA-24v3-0_A1.bpm"
    bead_pool_manifest_file_csv = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/GSA-24v3-0_A1-product_files/GSA-24v3-0_A1.csv"
    extended_chip_manifest_file = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/GSA-24v3-0_A1-product_files/GSA-24v3-0_A1_extended.csv"
    cluster_file = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/GSA-24v3-0_A1-product_files/GSA-24v3-0_A1_ClusterFile.egt"

    // array parameters
    chip_well_barcode = "204425740035_R12C02"

    // assay related parameters
    green_idat_path = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/Ruwe_data/204425740035/204425740035_R12C02_Grn.idat"
    red_idat_path = "/hpc/diaggen/users/ellen/pharmacogenetics/20201210_Illumina_GSA-24/Ruwe_data/204425740035/204425740035_R12C02_Red.idat"

    // process related parameters
    gender_autocall_option = "--gender-estimate-call-rate-threshold -0.1"

}

process {
    withLabel: AutoCall {
        cpus = 1
        memory = '8G'
        time = '30m'
    }

    withLabel: PICARD_2_25_5_GtcToVcf {
        cpus = 2
        memory = '8G'
        time = '30m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: VersionLog {
        cpus = 1
        memory = '5G'
        time = '1h'

        publishDir {
            path = "$params.outdir/log"
            mode = 'copy'
        }
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 3
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
