/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/DxNextflowPG Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/DxNextflowPG'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/DxNextflowPG'
    description     = """UMCU Genetics PGx Workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '2.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.0.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Nextflow settings
nextflow {
    enable {
        moduleBinaries = true
    }
}

// Global default params, used in configs
params {
    genome_fasta = '/hpc/diaggen/users/joris/genome/GRCh38_primary/GCA_000001405.15_GRCh38_primary_contigs.fa'
    assembly_version = "GRCh38"

    // Input options
    bam_path = null
    fastq_path = null

    variant_DP_threshold = 5

    // verifybamid parameters
    verify_bamid = true
    svd_ud = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.UD'
    svd_mu = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.mu'
    svd_bed = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.bed'

    /*
        Pypgx default parameters
    */
    // see: https://pypgx.readthedocs.io/en/latest/genes.html
    // pgx_genes = ["CYP2B6","CYP2C9", "CYP2C19", "CYP2D6", "CYP3A5", "DPYD", "UGT1A1",'SLCO1B1',
                 // "TPMT", "VKORC1"]

    pgx_genes = ["CYP2B6", "CYP2D6"]
    pgx_control_gene = "VDR"
    pypgx_resource_bundle = '/hpc/diaggen/data/databases/PyPGx_resource_bundle/pypgx-bundle-0.25.0'
    pypgx_allele_table  = "/hpc/diaggen/data/databases/PGx_translation_table/PGx_tables/allele-table.csv"
    pypgx_variant_table = "/hpc/diaggen/data/databases/PGx_translation_table/PGx_tables/variant-table.csv"


    // Output options
    outdir           = null
    publish_dir_mode = 'link'
    email            = null

    cluster_options = "--account=diaggen"
    job_array_size = 30



}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Load base.config
includeConfig 'conf/base.config'

// Load modules.config for module specific options
includeConfig 'conf/modules.config'

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
    overwrite = true
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
apptainer.registry   = 'quay.io'


profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'

            maxRetries = 0
        }

        apptainer.enabled = false
        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache/'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g) '
    }

    singularity {
        singularity.enabled = true
        docker.enabled= false
        runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
        autoMounts = true
        cacheDir = '/hpc/diaggen/software/singularity_cache/'
    }

    test {
        singularity.enagled = true
        docker.enabled = false
        runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
        autoMounts = true
        cacheDir = '/hpc/diaggen/software/singularity_cache/'
    }
}
