/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/DxNextflowPG Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/DxNextflowPG'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/DxNextflowPG'
    description     = """UMCU Genetics RNA Workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-validation' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Nextflow settings
nextflow {
	   enable {
	      moduleBinaries = true
	   }
	}

// Global default params, used in configs
params {
    genome_fasta = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna'
    genome_dict  = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict'


    bwa_index = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/bwa-mem2/'


    svd_ud  = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.UD'
    svd_mu  = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.mu'
    svd_bed = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.bed'


    // Input options
    input    = null // Path to fastq files
    bam_path = null // Temporary to run the pipeline without read mapping

    /*
        Pypgx default parameters
    */
    // see: https://pypgx.readthedocs.io/en/latest/genes.html
    pgx_genes = ["CYP2D6","CYP2B6","CYP2C9", "CYP2C19",
                 "CYP3A5", "DPYD", "SLCO1B1", "TPMT",
                 "VKORC1", "UGT1A1"]
    pypgx_control_gene = "VDR"
    pypgx_resource_bundle = '/Users/jsteenbr/Documents/pypgx-bundle/'
    assembly_version = "GrCh38"


    // Output options
    outdir           = null
    publish_dir_mode = 'link'
    email            = null

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Load base.config
includeConfig 'conf/base.config'

// Load modules.config for module specific options
includeConfig 'conf/modules.config'

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
    overwrite = true
}


docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
apptainer.registry   = 'quay.io'


profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        apptainer.enabled = false
        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache/'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }

    // Empty test profile, required for linting
    test { }
}
