process {

    withName: BWAMEM2_INDEX {
        cpus = 1
        memory = 18.GB

    }

    withName: BWAMEM2_MEM {
        cpus = 1
        memory = 5.GB
        ext.args = { "-R '@RG\\tID:${meta.rg_id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:${meta.id}\\tPU:${meta.flowcell}' -Y" }
        ext.prefix = { "${meta.rg_id}_${meta.split_fastq_part}" }
    }

    withName: BCFTOOLS_VIEW {
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {10.m * task.attempt}
        array = null
        ext.args = { "--output-type v"}
    }

    withName: FILTER_PYPGX_VCF {
         cpus = 1
         memory = {4.GB * task.attempt}
         time = {10.m * task.attempt}
         array = null
         ext.args = {
            "-e 'DP<${params.variant_DP_threshold}' --output-type z --write-index=tbi"
        }
    }

    withName: MOSDEPTH {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 30.m * task.attempt }
        array = null
        ext.args = "--no-per-base --fast-mode"

    }

    withName: PYPGX_CREATEINPUTVCF {
        ext.prefix = {"${meta.id}_variants"}
        array = null
    }

    withName: PYPGX_CREATEREGIONS {
        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
        ext.args = {}
        array = null
    }

    withName: PYPGX_COMPUTECONTROLSTATISTICS {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = null

        ext.assembly_version = {params.assembly_version}
        ext.control_gene = {params.pypgx_control_gene}
    }

    withName: PYPGX_PREPAREDEPTHOFCOVERAGE {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = null
        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
    }

    withName: PYPGX_RUNNGSPIPELINE {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m  * task.attempt }


        array = null
        ext.assembly_version = {params.assembly_version}
        containerOptions = {""}

    }

    withName: SEQKIT_SPLIT2{
        memory = 10.GB
        cpus = 1
        ext.args = { "--by-size 1000" }
    }

    withName: COMBINERESULTS {
        cpus = 1
        array = null
    }

    withName: SV_QA {
        cpus = 1
        memory = 5.GB
        time = { 5.m * task.attempt }
        array = null
    }

}
