

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.5GB'
    max_time   = '2.h'


    test_data = "/Users/jsteenbr/test_data/"

    bam_path = "${test_data}"

    genome_fasta = "${test_data}/genome.fa"
    genome_dict = "${test_data}/genome.dict"
    dbsnp = "${test_data}/dbsnp_138.b37.vcf.gz"

    pgx_genes = ["CYP2D6", "CYP2C19", "CYP2B6"]
    pypgx_resource_bundle = "${test_data}/pypgx-bundle-0.25.0"
    assembly_version = "GRCh37"
    phenotypes_excel = "${test_data}/translation_table.xlsx"

    outdir = '/tmp/output'



}

process {

    withName: PYPGX_CREATEREGIONS {
        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
        ext.args = {}
    }

    withName: PYPGX_RUNNGSPIPELINE {
        ext.assembly_version = {params.assembly_version}
    }

    withName: CALL_STARALLELES {
         cpus=1
    }

    withName: BCFTOOLS_VIEW {
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {10.m * task.attempt}

        ext.args = { "--output-type v"}
    }


    withName: FILTER_PYPGX_VCF {
         cpus = 1
         memory = {4.GB * task.attempt}
         time = {10.m * task.attempt}

         ext.args = {
         "-e 'DP<${params.variant_DP_threshold}' --output-type z --write-index=tbi" }
     }

     withName: FILTER_GATK_VCF {
         cpus = 1
         memory = {4.GB * task.attempt}
         time = {10.m * task.attempt}

         ext.args = {
         "-e 'INFO/DP<${params.variant_DP_threshold}' --output-type z --write-index=tbi" }
         ext.prefix = {"${meta.id}_gatk_DP_filt"}
     }


    // withName: COMBINERESULTS {
         // runOptions = "--mount type=bind,source=/Users/jsteenbr/tools/DxNextflowPG,target=/Users/jsteenbr/tools/DxNextflowPG"
    // }

}
