

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.5GB'
    max_time   = '2.h'



    test_data = "${baseDir}/tests/DxNextflowTestData/DxNextflowPG"
    bam_path = "${test_data}/bam/"

    genome_fasta = "${test_data}/genome/GRCh37_chr22.fasta.gz"

    pgx_genes = ["CYP2D6"]
    pgx_control_gene = "22:42512500-42551883"
    pypgx_resource_bundle = "${params.test_data}/pypgx-bundle"
    assembly_version = "GRCh37"

    outdir = '/tmp/output'



}

process {


    withName: PYPGX_CREATEINPUTVCF {
        ext.prefix = {"${meta.id}_variants"}
        array = null
    }

    withName: PYPGX_CREATEREGIONS {
        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
        ext.args = {}
        array = null
    }



    withName: MOSDEPTH {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 30.m * task.attempt }
        array = null
        ext.args = "--no-per-base --fast-mode"

    }

    withName: BCFTOOLS_VIEW {
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {10.m * task.attempt}
        array = null
        ext.args = { "--output-type v"}
    }


    withName: FILTER_PYPGX_VCF {
         cpus = 1
         memory = {4.GB * task.attempt}
         time = {10.m * task.attempt}
        array = null
         ext.args = {
         "-e 'DP<${params.variant_DP_threshold}' --output-type z --write-index=tbi"
        }
     }

    withName: PYPGX_PREPAREDEPTHOFCOVERAGE {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = null
        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
    }

    withName: PYPGX_COMPUTECONTROLSTATISTICS {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = null

        ext.assembly_version = {params.assembly_version}
        ext.control_gene = {params.pypgx_control_gene}
    }

    withName: PYPGX_RUNNGSPIPELINE {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m  * task.attempt }

        // containerOptions = { "-B ${params.pypgx_allele_table}:/usr/local/lib/python3.12/site-packages/pypgx/api/data/allele-table.csv -B ${params.pypgx_variant_table}:/usr/local/lib/python3.12/site-packages/pypgx/api/data/variant-table.csv"}
        array = null
        ext.assembly_version = {params.assembly_version}


    }

    withName: SV_QA {
        cpus = 1
        memory = 5.GB
        time = { 5.m * task.attempt }
        array = null
    }

    withName: COMBINERESULTS {
        cpus = 1
        array = null
    }

}
