params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = 18.GB
    max_time   = '2.h'



    test_data = "${baseDir}/tests/DxNextflowTestData/DxNextflowPG/"
    fastq_path = "${test_data}/fastq/"

    genome_fasta = "${test_data}/genome/GRCh37_chr22.fasta.gz"

    pgx_genes = ["CYP2D6"]
    pgx_control_gene = "22:42512500-42551883"
    pypgx_resource_bundle = "${baseDir}/assets/pypgx-bundle"
    assembly_version = "GRCh37"

    outdir = '/tmp/output/'

    verify_bamid = false
    svd_ud = "https://github.com/UMCUGenetics/Dx_tracks/raw/refs/heads/master/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.UD"
    svd_mu = "https://github.com/UMCUGenetics/Dx_tracks/raw/refs/heads/master/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.mu"
    svd_bed = "https://github.com/UMCUGenetics/Dx_tracks/raw/refs/heads/master/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.bed"

    variant_DP_threshold = 1

}

includeConfig "modules.config"
