params {
    genome_fasta = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/no_alt_analysis_set/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
    bwa_index = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/no_alt_analysis_set/bwa-mem2/"

    verify_bamid = true
    svd_ud = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.UD'
    svd_mu = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.mu'
    svd_bed = '/hpc/diaggen/software/production/Dx_tracks/VerifyBAMID/1000g.phase3.10k.b38.vcf.gz.dat.bed'

    pypgx_resource_bundle = '/hpc/diaggen/data/databases/PyPGx_resource_bundle/pypgx-bundle-0.25.0'

    star_allele_base    = "/hpc/diaggen/data/databases/PGx_translation_table/PGx_tables/"
    pypgx_allele_table  = "${star_allele_base}/allele-table.csv"
    pypgx_variant_table = "${star_allele_base}/variant-table.csv"
    pypgx_gene_table    = "${star_allele_base}/gene-table.csv"

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}
