/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/log"
            mode = params.publish_dir_mode
            pattern = 'software_versions.yml'
        }

    }

    withName: MOSDEPTH {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 30.m * task.attempt }

        ext.args = "--no-per-base --fast-mode"

        publishDir {
            path = "${params.outdir}/QC/mosdepth"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: MULTIQC {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/QC"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }


    withName: VCF2GLIMS {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args = "--min_dp 15"

        publishDir {
            path = "${params.outdir}/glims"
            mode = params.publish_dir_mode
        }
    }

    withName: VERIFYBAMID_VERIFYBAMID2 {
        cpus = 6
        memory = { 2.GB * task.attempt }
        time = { 20.m * task.attempt }

        ext.args = { "--Output ${meta.id}.contamination --NumPC 4 --Verbose" }

        publishDir {
            path = "${params.outdir}/QC/verifybamid2"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: GATK4_HAPLOTYPECALLER {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args = "-ERC BP_RESOLUTION"
        ext.prefix = { "${meta.id}.g" }
    }

    withName: GATK4_GENOTYPEGVCFS{
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }
        errorStrategy = "terminate"

        ext.args = "--include-non-variant-sites"

        publishDir {
            path = "${params.outdir}/vcf_files"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: PYPGX_CREATEREGIONS {
        cpus = 1
        memory = { 4.GB * task.attempt }
        time = { 2.m  * task.attempt }

        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
        // is located on an alt contig
        ext.args = { "--add-chr-prefix"}
    }


    withName: PYPGX_CREATEINPUTVCF {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }

        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
    }

    withName: PYPGX_PREPAREDEPTHOFCOVERAGE {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }

        ext.assembly_version = {params.assembly_version}
        ext.pgx_genes =  {params.pgx_genes}
    }

    withName: PYPGX_COMPUTECONTROLSTATISTICS {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }

        ext.assembly_version = {params.assembly_version}
        ext.control_gene = {params.pypgx_control_gene}
    }

    withName: PYPGX_RUNNGSPIPELINE {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m  * task.attempt }

        ext.assembly_version = {params.assembly_version}

        publishDir {
            path = "${params.outdir}/pypgx/data/"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }

    }

    withName: combine_results{
        cpus = 1
        memory = 5.GB
        time = { 5.m * task.attempt }

        publishDir {
            path = "${params.outdir}/summary"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: CALL_STARALLELES {
        cpus = 1
        memory = 5.GB
        time = { 5.m * task.attempt }

        publishDir {
            path = "${params.outdir}/star_alleles/"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }
}
