/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/log"
            mode = params.publish_dir_mode
            pattern = 'software_versions.yml'
        }

    }

    withName: MULTIQC {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/QC"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: FILTER_PYPGX_VCF {
        cpus = 1
        memory = { 20.GB * task.attempt }
        time = { 10.m * task.attempt }
        array = params.job_array_size

        ext.args = {
            "-e 'DP<${params.variant_DP_threshold}' --output-type z --write-index=tbi"
        }
    }

    withName: PYPGX_CREATEINPUTVCF {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        ext.args = {"--assembly ${params.assembly_version}"}
        ext.prefix = { "${meta.id}_variants" }

    }

    withName: PYPGX_PREPAREDEPTHOFCOVERAGE {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = 20
        ext.args = {"--assembly ${params.assembly_version}"}
        ext.pgx_genes =  { params.pgx_genes }
    }

    withName: PYPGX_COMPUTECONTROLSTATISTICS {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 5.m  * task.attempt }
        array = 20
        ext.args = {"--assembly ${params.assembly_version}"}

    }

    withName: PYPGX_RUNNGSPIPELINE {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m  * task.attempt }
        array = 20

        containerOptions = { "-B ${params.pypgx_allele_table}:/usr/local/lib/python3.12/site-packages/pypgx/api/data/allele-table.csv -B ${params.pypgx_variant_table}:/usr/local/lib/python3.12/site-packages/pypgx/api/data/variant-table.csv"}
        ext.args = {"--assembly ${params.assembly_version}"}

        publishDir {
            path = "${params.outdir}/pypgx/"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: COMBINERESULTS {
        cpus = 1
        memory = 5.GB
        time = { 5.m * task.attempt }
        array = params.job_array_size

        publishDir {
            path = "${params.outdir}/summary"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: MOSDEPTH {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 30.m * task.attempt }

        ext.args = "--no-per-base"

        publishDir {
            path = "${params.outdir}/QC/mosdepth"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: SEQKIT_SPLIT2 {
        cpus   = 4
        memory = { 2.GB * task.attempt }
        time   = { 3.h   * task.attempt }

        ext.args = "--by-size 4000"
    }

    withName: BWAMEM2_MEM {
        cpus = 10
        memory = { 40.GB * task.attempt }
        time = { 3.h * task.attempt }
        clusterOptions = "${params.cluster_options} --gres=tmpspace:100G"

        ext.args = { "-R '@RG\\tID:${meta.rg_id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:${meta.id}\\tPU:${meta.flowcell}' -K 100000000 -Y" }
        ext.prefix = { "${meta.rg_id}_${meta.split_fastq_part}" }
    }

    withName: SAMBAMBA_MARKDUP {
        cpus = 6
        memory = { 10.GB * task.attempt }
        time = { 4.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:100G"

        publishDir = [
            [pattern: '*.bam*', path: "${params.outdir}/bam_files", mode: params.publish_dir_mode],
            [pattern: '*.txt', path: "${params.outdir}/QC/sambamba", mode: params.publish_dir_mode]
        ]
    }
}
