/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: BWAMEM2_MEM {
        cpus = 10
        memory = { 40.GB * task.attempt }
        time = { 3.h * task.attempt }
        clusterOptions = "${params.cluster_options} --gres=tmpspace:100G"

        ext.args = { "-R '@RG\\tID:${meta.rg_id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:${meta.id}\\tPU:${meta.flowcell}' -K 100000000 -Y" }
        ext.prefix = { "${meta.rg_id}_${meta.split_fastq_part}" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/log"
            mode = params.publish_dir_mode
            pattern = 'software_versions.yml'
        }

    }

    withName: FASTQC {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 2.h * task.attempt }

        ext.args = '--quiet'

        publishDir {
            path = "${params.outdir}/QC/fastqc"
            mode = params.publish_dir_mode
            pattern = '*_{fastqc.html}'
        }
    }

    withName: MOSDEPTH {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 30.m * task.attempt }

        ext.args = "--no-per-base"

        publishDir {
            path = "${params.outdir}/QC/mosdepth"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: MULTIQC {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "${params.outdir}/QC"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: SAMBAMBA_MARKDUP {
        cpus = 6
        memory = { 10.GB * task.attempt }
        time = { 4.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:100G"

        publishDir = [
            [pattern: '*.bam*', path: "${params.outdir}/bam_files", mode: params.publish_dir_mode],
            [pattern: '*.txt', path: "${params.outdir}/QC/sambamba", mode: params.publish_dir_mode]
        ]
    }

    withName: SAMTOOLS_INDEX {
        cpus   = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 20.m * task.attempt }

        publishDir {
            path = "${params.outdir}/bam_files"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: SEQKIT_SPLIT2 {
        cpus   = 4
        memory = { 2.GB * task.attempt }
        time   = { 3.h   * task.attempt }

        ext.args = "--by-size 50000000"
    }

    withName: VCF2GLIMS {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args = "--min_dp 15"

        publishDir {
            path = "${params.outdir}/glims"
            mode = params.publish_dir_mode
        }
    }

    withName: VERIFYBAMID_VERIFYBAMID2 {
        cpus   = 6
        memory = { 2.GB * task.attempt }
        time   = { 20.m * task.attempt }

        ext.args = { "--Output ${meta.id}.contamination --NumPC 4 --Verbose" }

        publishDir {
            path   = "${params.outdir}/QC/verifybamid2"
            mode   = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: pypgx_prepare {
        cpus   = 2
        memory = { 15.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }

    withName: pypgx_run_ngs {
        cpus   = 2
        memory = { 15.GB * task.attempt }
        time   = { 10.m  * task.attempt }
        publishDir {
            path   = "${params.outdir}/pypgx_data/"
            mode   = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: create_pypgx_output_table{
        cpus   = 1
        memory = 5.GB
        time   = { 10.m * task.attempt }

        publishDir {
            path   = "${params.outdir}/pypgx_summary"
            mode   = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

}
